<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="isen.CedricLucieFlorent.benfit">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:icon="@mipmap/benfit_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/benfit_logo_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name=".ApplicationContext"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".MenuActivity" />
        <activity android:name=".ListSessionActivity" />
        <activity android:name=".ProgramActivity" />
        <activity android:name=".ExerciceSessionActivity" />
        <activity android:name=".SignInActivity" />
        <activity android:name=".ProfileActivity" />
        <activity android:name=".WritePostActivity" />
        <activity android:name=".PostActivity" />
        <activity android:name=".ScriptActivity" />
        <activity android:name=".FeedActivity" />
        <activity android:name=".SessionActivity" />
        <activity android:name=".SignUpActivity" />
        <activity android:name=".ModifyProfile" />
        <activity android:name=".MainActivity" />
        <activity android:name=".HomeActivity" />
        <activity android:name=".ExerciceActivity" />
        <activity android:name=".NotifActivity" />
        <activity
            android:name=".SplashActivity"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <receiver android:name=".ReminderBroadcast"/>
        <activity android:name=".ListExercicesActivity" />
        <activity android:name=".FullScreenImageView" />
    </application>

</manifest>